// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Import Ionic default variables first
//@import "~@ionic/angular/css/ionic.bundle.css"; // Correct the import path as necessary

// Define your primary color steps
$primary-700: #1F5C5C;
$primary-600: #2A7E7E;
$primary-500: #339999;
$primary-400: #3DB8B8;
$primary-300: #57C7C7;
$primary-200: #75D1D1;
$primary-100: #B3E5E6;

// Define your secondary color steps
$secondary-700: #06090E;
$secondary-600: #0D121C;
$secondary-500: #111826;
$secondary-400: #232B3B;
$secondary-300: #3B4654;
$secondary-200: #858FA6;
$secondary-100: #B8BDCC;
$secondary-50: #DCDEE5;

// Define your white and black colors
$white: #FFFFFF;
$black: #000000;

// Override Ionic color variables
$colors: (
  primary: #339999,
  primary-contrast: $white,
  primary-shade: $primary-600,
  primary-tint: $primary-400,

  secondary: #111826,
  secondary-contrast: $white,
  secondary-shade: $secondary-600,
  secondary-tint: $secondary-400,

  light: $white,
  light-contrast: $black,
  light-shade: #E0E0E0,
  light-tint: #FFFFFF,

  dark: $black,
  dark-contrast: $white,
  dark-shade: #121212,
  dark-tint: #1C1C1C
);

// Additional shades
$primary-shades: (
  100: $primary-100,
  200: $primary-200,
  300: $primary-300,
  400: $primary-400,
  500: $primary-500,
  600: $primary-600,
  700: $primary-700
);

$secondary-shades: (
  50: $secondary-50,
  100: $secondary-100,
  200: $secondary-200,
  300: $secondary-300,
  400: $secondary-400,
  500: $secondary-500,
  600: $secondary-600,
  700: $secondary-700
);

// Apply the custom colors to Ionic
:root {
  --ion-color-primary: #{map-get($colors, primary)};
  --ion-color-primary-rgb: #{color-rgb(map-get($colors, primary))};
  --ion-color-primary-contrast: #{map-get($colors, primary-contrast)};
  --ion-color-primary-contrast-rgb: #{color-rgb(map-get($colors, primary-contrast))};
  --ion-color-primary-shade: #{map-get($colors, primary-shade)};
  --ion-color-primary-tint: #{map-get($colors, primary-tint)};

  --ion-color-secondary: #{map-get($colors, secondary)};
  --ion-color-secondary-rgb: #{color-rgb(map-get($colors, secondary))};
  --ion-color-secondary-contrast: #{map-get($colors, secondary-contrast)};
  --ion-color-secondary-contrast-rgb: #{color-rgb(map-get($colors, secondary-contrast))};
  --ion-color-secondary-shade: #{map-get($colors, secondary-shade)};
  --ion-color-secondary-tint: #{map-get($colors, secondary-tint)};

  --ion-color-light: #{map-get($colors, light)};
  --ion-color-light-rgb: #{color-rgb(map-get($colors, light))};
  --ion-color-light-contrast: #{map-get($colors, light-contrast)};
  --ion-color-light-contrast-rgb: #{color-rgb(map-get($colors, light-contrast))};
  --ion-color-light-shade: #{map-get($colors, light-shade)};
  --ion-color-light-tint: #{map-get($colors, light-tint)};

  --ion-color-dark: #{map-get($colors, dark)};
  --ion-color-dark-rgb: #{color-rgb(map-get($colors, dark))};
  --ion-color-dark-contrast: #{map-get($colors, dark-contrast)};
  --ion-color-dark-contrast-rgb: #{color-rgb(map-get($colors, dark-contrast))};
  --ion-color-dark-shade: #{map-get($colors, dark-shade)};
  --ion-color-dark-tint: #{map-get($colors, dark-tint)};

  // Set custom primary shades
  @each $shade, $color in $primary-shades {
    --ion-color-primary-#{$shade}: #{$color};
  }

  // Set custom secondary shades
  @each $shade, $color in $secondary-shades {
    --ion-color-secondary-#{$shade}: #{$color};
  }
}

// Dark mode settings
@media (prefers-color-scheme: dark) {
  body {
    --ion-background-color: var(--ion-color-secondary-600); // Using the secondary-600 color step as the background
    --ion-background-color-rgb: #{color-rgb($secondary-700)};

    --ion-text-color: #{map-get($colors, light)};
    --ion-text-color-rgb: #{color-rgb(map-get($colors, light))};

    --ion-item-background: var(--ion-color-secondary-700); // Using the secondary-600 color step
    --ion-toolbar-background: var(--ion-color-secondary-600); // Using the secondary-600 color step
    --ion-tab-bar-background: var(--ion-color-secondary-600); // Using the secondary-600 color step
    --ion-card-background: #{map-get($colors, secondary-600)}; // Using the secondary-600 color step directly
    --ion-item-border-color: var(--ion-color-secondary-400);
    --background-checked: var(--ion-color-primary-500);



    //
    //// Set color steps
    //--ion-color-step-50: #0d0d0d;
    //--ion-color-step-100: #1a1a1a;
    //--ion-color-step-150: #262626;
    //--ion-color-step-200: #333333;
    --ion-color-step-250: var(--ion-color-secondary-400);
    //--ion-color-step-300: #4d4d4d;
    --ion-color-step-350: null;
    //--ion-color-step-400: #666666;
    //--ion-color-step-450: #737373;
    //--ion-color-step-500: #808080;
    //--ion-color-step-550: #8c8c8c;
    //--ion-color-step-600: #999999;
    //--ion-color-step-650: #a6a6a6;
    //--ion-color-step-700: #b3b3b3;
    //--ion-color-step-750: #bfbfbf;
    //--ion-color-step-800: #cccccc;
    //--ion-color-step-850: #d9d9d9;
    //--ion-color-step-900: #e6e6e6;
    //--ion-color-step-950: #f2f2f2;
  }

}

ion-toolbar {
  --ion-background-color: var(--ion-color-secondary-600) !important;
}



//@media (prefers-color-scheme: dark) {
//  /*
//   * Dark Colors
//   * -------------------------------------------
//   */
//
//  body {
//    --ion-color-primary: #339999;
//    --ion-color-primary-rgb: 51,153,153;
//    --ion-color-primary-contrast: #ffffff;
//    --ion-color-primary-contrast-rgb: 255, 255, 255;
//    --ion-color-primary-shade: #2d8787;
//    --ion-color-primary-tint: #47a3a3;
//
//    --ion-color-secondary: #3dc2ff;
//    --ion-color-secondary-rgb: 61,194,255;
//    --ion-color-secondary-contrast: #000000;
//    --ion-color-secondary-contrast-rgb: 0,0,0;
//    --ion-color-secondary-shade: #36abe0;
//    --ion-color-secondary-tint: #50c8ff;
//
//    --ion-color-tertiary: #5260ff;
//    --ion-color-tertiary-rgb: 82,96,255;
//    --ion-color-tertiary-contrast: #ffffff;
//    --ion-color-tertiary-contrast-rgb: 255,255,255;
//    --ion-color-tertiary-shade: #4854e0;
//    --ion-color-tertiary-tint: #6370ff;
//
//    --ion-color-success: #2dd36f;
//    --ion-color-success-rgb: 45,211,111;
//    --ion-color-success-contrast: #000000;
//    --ion-color-success-contrast-rgb: 0,0,0;
//    --ion-color-success-shade: #28ba62;
//    --ion-color-success-tint: #42d77d;
//
//    --ion-color-warning: #ffc409;
//    --ion-color-warning-rgb: 255,196,9;
//    --ion-color-warning-contrast: #000000;
//    --ion-color-warning-contrast-rgb: 0,0,0;
//    --ion-color-warning-shade: #e0ac08;
//    --ion-color-warning-tint: #ffca22;
//
//    --ion-color-danger: #eb445a;
//    --ion-color-danger-rgb: 235,68,90;
//    --ion-color-danger-contrast: #000000;
//    --ion-color-danger-contrast-rgb: 0,0,0;
//    --ion-color-danger-shade: #cf3c4f;
//    --ion-color-danger-tint: #ed576b;
//
//    --ion-color-lightest: #B8BDCC;
//    --ion-color-lightest-rgb: 184,189,204;
//    --ion-color-lightest-contrast: #000000;
//    --ion-color-lightest-contrast-rgb: 0,0,0;
//    --ion-color-lightest-shade: #a2a6b4;
//    --ion-color-lightest-tint: #bfc4d1;
//
//    --ion-color-light: #858FA6;
//    --ion-color-light-rgb: 133,143,166;
//    --ion-color-light-contrast: #000000;
//    --ion-color-light-contrast-rgb: 0,0,0;
//    --ion-color-light-shade: #757e92;
//    --ion-color-light-tint: #919aaf;
//
//    --ion-color-medium: #3B4654;
//    --ion-color-medium-rgb: 59,70,84;
//    --ion-color-medium-contrast: #ffffff;
//    --ion-color-medium-contrast-rgb: 255,255,255;
//    --ion-color-medium-shade: #343e4a;
//    --ion-color-medium-tint: #4f5965;
//
//    --ion-color-dark: #232B3B;
//    --ion-color-dark-rgb: 35,43,59;
//    --ion-color-dark-contrast: #ffffff;
//    --ion-color-dark-contrast-rgb: 255,255,255;
//    --ion-color-dark-shade: #1f2634;
//    --ion-color-dark-tint: #39404f;
//
//    --ion-color-darkest: #111826;
//    --ion-color-darkest-rgb: 17,24,38;
//    --ion-color-darkest-contrast: #ffffff;
//    --ion-color-darkest-contrast-rgb: 255,255,255;
//    --ion-color-darkest-shade: #0f1521;
//    --ion-color-darkest-tint: #292f3c;
//  }
//
//  /*
//   * iOS Dark Theme
//   * -------------------------------------------
//   */
//
//  .ios body {
//    --ion-background-color: #111826;
//    --ion-background-color-rgb: rgb(17 24 39);
//
//    --ion-text-color: #ffffff;
//    --ion-text-color-rgb: 255,255,255;
//
//    --ion-color-step-50: #0d0d0d;
//    --ion-color-step-100: #1a1a1a;
//    --ion-color-step-150: #262626;
//    --ion-color-step-200: #333333;
//    --ion-color-step-250: #404040;
//    --ion-color-step-300: #4d4d4d;
//    --ion-color-step-350: #595959;
//    --ion-color-step-400: #666666;
//    --ion-color-step-450: #737373;
//    --ion-color-step-500: #808080;
//    --ion-color-step-550: #8c8c8c;
//    --ion-color-step-600: #999999;
//    --ion-color-step-650: #a6a6a6;
//    --ion-color-step-700: #b3b3b3;
//    --ion-color-step-750: #bfbfbf;
//    --ion-color-step-800: #cccccc;
//    --ion-color-step-850: #d9d9d9;
//    --ion-color-step-900: #e6e6e6;
//    --ion-color-step-950: #f2f2f2;
//
//    --ion-item-background: #111826;
//
//    --ion-toolbar-background: #111826;
//
//    --ion-tab-bar-background: #111826;
//
//    --ion-card-background: #232B3B;
//
//
//  }
//
//  .ios ion-modal {
//    --ion-background-color: #111826;
//    --ion-toolbar-background: #111826;
//    --ion-toolbar-border-color: #3B4654;
//  }
//
//
//}
//
html {
//  /*
//   * For more information on dynamic font scaling, visit the documentation:
//   * https://ionicframework.com/docs/layout/dynamic-font-scaling
//   */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}
//
//
//:root {
//
//  --ion-overlay-background-color: #111826;
//  --ion-background-color: #111826;
//  --ion-background-color-rgb: rgb(17 24 39);
//  --ion-font-family: 'ui-monospace','SFMono-Regular','Menlo', 'Monaco', 'Consolas', 'monospace';
//
//}
