:host {

    ion-item {
        --padding-start: 0;
        --border-color: #232B3B;
        --inner-padding-bottom: 15px;
        --padding-top: 15px;

        &.last {
            --border-color: transparent;
        }
    }

    .date-box {
        width: 48px;
        height: 48px;
        border-radius: 2px;
        padding: 10px;
        background-color: var(--ion-color-secondary-500);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .text-sm {
            font-size: 12px;
            line-height: 0;
            margin-top: 3px;
            margin-bottom: 3px;
        }
    }

    .tag {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        background-color: var(--ion-color-secondary-400);
        padding: 4px;
        margin-right: 6px;
    }
}