<div class="ion-page" #page>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="openChangeLocationModal()">
          <span class="fi fi-fi"></span>
					<span class="h3 mx-2 text-white">Finland</span>
					<ion-icon name="chevron-down" color="medium" class="body-xs"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button id="open-create-menu" size="xs" color="primary" fill="solid">
          <ion-icon slot="start" name="add"></ion-icon>
					Create
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

		<div class="segment-wrapper">
			<ion-segment [value]="currentView" (ionChange)="onSegmentChange($event)">
				<ion-segment-button value="overview" class="h5">
					<ion-label>Overview</ion-label>
				</ion-segment-button>
				<ion-segment-button value="favorites" class="h5">
					<ion-label>Favorites</ion-label>
				</ion-segment-button>
			</ion-segment>
		</div>
  </ion-header>

  <ion-content [fullscreen]="true">

		@switch (currentView) {
			@case ('overview') {
				<app-overview-segment></app-overview-segment>
			}
			@case ('favorites') {
				<app-favorites-segment></app-favorites-segment>
			}
		}

  </ion-content>

  <ion-action-sheet
    trigger="open-create-menu"
    header="Create"
    [buttons]="createMenuButtons"
    (didDismiss)="createMenuResult($event)"
  ></ion-action-sheet>

</div>
